source https://nuget.org/api/v2
  
nuget FSharp.Core redirects:force
  
group Build

  source https://nuget.org/api/v2
  
  nuget FSharp.Formatting
  nuget FAKE
  nuget SourceLink.Fake
  
  github fsharp/FAKE modules/Octokit/Octokit.fsx
  
group Test

  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
  
  github forki/FsUnit FsUnit.fs